body {
    background-image: url("../images/backgrdimage5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hero {
    width: 100%;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 1px;
    text-shadow: 0 5px 20px rgba(0, 0, 0, .6);
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: white;
    font-size: 22px;
    width: 720px;
    line-height: 40px;
    text-shadow: 2px 2px 5px black;
    margin-top: 0;
    margin-bottom: 20px;
}

.tagline {
    font-size: 20px;
    color: #FFC72C;
    margin-top: 8px;
    margin-bottom: 20px;
    width: 70%;
    text-align: center;
    line-height: 32px;
    text-shadow: 2px 2px 10px black;
}

button {
    margin-top: 15px;
    width: 250px;
    height: 58px;
    padding: 16px 45px;
    font-size: 30px;
    border: none;
    border-radius: 35px;
    background: #d4a437;
    color: rgb(19, 14, 14);
}

button:hover {
    background: white;
}

.features {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    position: relative;
    margin-bottom: 30px;
}

.feature-box {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(15, 18, 25, .88);
    border-radius: 25px;
    padding: 28px 25px;
    margin: 0 auto;
    top: -30px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
}

.icon {
    width: 58px;
    height: 58px;
    border: 2px solid #d4a437;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d4a437;
    font-size: 30px;
    font-weight: bold;
}

.feature h3 {
    color: white;
    font-size: 16px;
    margin-bottom: 6px;
}

.feature p {
    color: #d6d6d6;
    font-size: 14px;
    line-height: 22px;
}

.divider {
    width: 1px;
    height: 70px;
    background: rgba(255, 255, 255, .15);
    margin: 0 12px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
}

.location {
    width: 280px;
    margin: 0;
}

.location-box {
    background:rgba(255,255,255,.12);

    backdrop-filter:blur(8px);
    
    padding: 15px;
    border-radius: 12px;
    line-height: 1.6;
    font-size: 15px;
}



